apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-operator
    targetRevision: 9.3.2
    helm:
      values: |
        crds:
          enabled: false
        prometheusOperator:
          enabled: true
        prometheus:
          enabled: true
        prometheus:
          prometheusSpec:{}
        grafana:
          enabled: false
        alertmanager:
          enabled: false
        nodeExporter:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  syncOptions:
    - ServerSideApply=true
