apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: istio-envoy
  namespace: observability
spec:
  selector:
    matchLabels:
      prometheus.io/scrape: "true"
  namespaceSelector:
    matchNames:
    - super-fortnight
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
