apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-options: "Replace=true"
    
configMapGenerator:
  - name: service-config
    namespace: super-fortnight
    files:
      - services/superfortnight.yaml
    options:
      disableNameSuffixHash: true
